app-top-bar-main((toggleValue)='onToggleMenu($event)')
mat-sidenav-container(autosize)
  mat-sidenav-content
    router-outlet
  mat-sidenav(mode='side', [opened]='toggle')
    mat-action-list
      button.white(mat-list-item, [routerLink]='["/participants"]')
        mat-icon person
        span.ml-2 Participants
      button.white(mat-list-item, [routerLink]='["/coordinators"]')
        mat-icon verified_user
        span.ml-2 Coordinators
      button.white(mat-list-item, [routerLink]='["/administrators"]')
        mat-icon admin_panel_settings
        span.ml-2 Administrators
      button.white(mat-list-item, [routerLink]='["/groups"]')
        mat-icon group
        span.ml-2 Groups
      button.white(mat-list-item, [routerLink]='["/tests"]')
        mat-icon assessment
        span.ml-2 Tests
      button.white(mat-list-item, [routerLink]='["/universities"]')
        mat-icon school
        span.ml-2 Universities
      button.white(mat-list-item, [routerLink]='["/schools"]')
        mat-icon local_library
        span.ml-2 Schools
